db.sqlite3
media/*
media/
# Migrations
*/migrations/*
!**/migrations
!**/migrations/_init_.py
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
.idea
.idea/
lvenv/
_pycache_/
_pycache_/*
.idea/